@page "/about"

<PageTitle>About Us</PageTitle>

<h3>About Us</h3>

<p>This is a clone of the website <a href="https://strawpoll.com/" target="_blank" rel="noopener noreferrer">Strawpoll</a>.
<br />
It was made to learn more about Blazor and ASP.NET Core.</p>
