@page "/"

<h1>Create your poll in seconds</h1>

Want to ask your friends where to go friday night or arrange a meeting with co-workers?
<br />
Create a poll - and get answers in no time.
<br />
<br />

<a href="./create" class="btn btn-primary">Create a poll</a>
<a href="./view-polls" class="btn btn-secondary">View polls</a>
